* {
    box-sizing: border-box;
}

::-moz-selection {
    background: #000;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #000;
    text-shadow: none;
    color: #fff;
}

a:link {
    color: #20c997;
}

blockquote {
    margin-left: 1rem;
    font-style: italic;
    font-size: 1.4rem;
    font-family: Georgia,bitstream charter,serif;
    border-left: 3px solid;
    border-color: #000;
    padding-left: 20px;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}


.section.blurb .section-header {
    margin: 0 0 10px 0;
}
.section.blurb .title {
    margin: 0;
}
.post.blurb .date {
    color: #888;
}
