---
import Layout from '../layouts/Layout.astro';
import HeadingComponent from '../components/elements/heading';
---

<Layout title="Welcome to OSM Kerala.">
	<main>
        <div class="flex-col  items-center m-2 p-2   justify-center">
            <div>
                <HeadingComponent heading="About Us" />
                <div class="m-2 p-2">
                    <img src="/osmcommunity.jpg" width={900} alt ="hero image"
/>
                </div>
                <div class="p-4">
                    <!-- <h2 class="text-xl font-semibold mb-2">About Us:</h2> -->
                    <p class="mb-4">
                        We are a passionate group of individuals who share a deep love for maps and are committed to keeping geospatial data open and accessible. Our involvement with OpenStreetMap (OSM) in India began in earnest in 2007. Over the past 13 years, the OSM Kerala Community has played a pivotal role in promoting and enhancing OSM data in the region.
                    </p>
            
                    <h2 class="text-xl font-semibold mb-2">Our Contributions:</h2>
                    <ul class="list-disc pl-5 mb-4">
                        <li>The OSM Kerala Community has been actively mapping various geographic features for more than a decade.</li>
                        <li>During the devastating floods of 2018, OpenStreetMap was extensively used to provide critical geospatial information for disaster response efforts.</li>
                        <li>We have consistently engaged with a diverse range of partners to further our mission.</li>
                    </ul>
            
                    <h2 class="text-xl font-semibold mb-2">Areas of Focus:</h2>
            
                    <h3 class="text-lg underline decoration-2 font-semibold
 mb-2"><a
href="https://wiki.openstreetmap.org/wiki/Kerala#Boundaries">
                    Boundaries</a></h3>
                    <ul class="list-disc pl-5 mb-4">
                        <li>Administrative Boundaries
                            <ul class="list-disc pl-5">
                                <li>State Boundaries</li>
                                <li>District Boundaries</li>
                                <li>Taluk Boundaries</li>
                            </ul>
                        </li>
                        <li>Political Boundaries
                            <ul class="list-disc pl-5">
                                <li>Lok Sabha Constituencies</li>
                                <li>Assembly Constituencies</li>
                            </ul>
                        </li>
                        <li>Local Government Bodies
                            <ul class="list-disc pl-5">
                                <li>Local Bodies in Kerala</li>
                                <li>Local Body Wards in Kerala</li>
                            </ul>
                        </li>
                    </ul>
            
                    <h3 class="text-lg underline decoration-2  font-semibold
mb-2"><a href="https://wiki.openstreetmap.org/wiki/Kerala#Environment">
Environment</a></h3>
                    <ul class="list-disc pl-5 mb-4">
                        <li>Rivers</li>
                        <li>Lakes</li>
                        <li>Reservoirs</li>
                        <li>Lagoons and Estuaries</li>
                        <li>Water Streams</li>
                        <li>Ponds</li>
                        <li>Forests</li>
                    </ul>
            
                    <h3 class="text-lg underline decoration-2    font-semibold
mb-2"><a
href="https://wiki.openstreetmap.org/wiki/Kerala#Infrastructure">Roads</a></h3>
                    <ul class="list-disc pl-5 mb-4">
                        <li>National Highway</li>
                        <li>State Highway</li>
                        <li>Major District Road</li>
                    </ul>
            
                    <h3 class="text-lg underline decoration-2 font-semibold
mb-2"><a
href="https://wiki.openstreetmap.org/wiki/Kerala#Infrastructure">
Railways</a></h3>
                    <ul class="list-disc pl-5 mb-4">
                        <li>Railway Stations</li>
                        <li>Kochi Metro</li>
                        <li>Proposed Silverline (K-rail)</li>
                    </ul>
            
                    <h3 class="text-lg underline decoration-2 font-semibold
mb-2"><a href="https://wiki.openstreetmap.org/wiki/Kerala#Amenity"
>Amenity</a></h3>
                    <ul class="list-disc pl-5 mb-4">
                        <li>Police Stations</li>
                        <li>Fire and Rescue Stations</li>
                        <li>Health Facilities in Kerala</li>
                    </ul>
            
                    <h3 class="text-lg font-semibold mb-2">Activities</h3>
                    <ul class="list-disc pl-5 mb-4">
                        <li>Organizing Mapathons</li>
                        <li>Hosting Webinars</li>
                    </ul>
                </div>
                  
            </div>
        </div>
	</main>
</Layout>

