---
import Layout from '../layouts/Layout.astro';

import HeadingComponent from '../components/elements/heading';
---

<Layout title="Welcome to OSM Kerala.">
	<main>

		<div class="flex-col items-center m-2 p-2 justify-center">
			<HeadingComponent heading="Building OSM Kerala Community" />
			<div class="flex-col items-center m-2 p-2 justify-center">
				<p>
					OpenStreetMap was founded by Steve Coast in 2004, with a focus on creating a free and open collaborative editable mapping platform, much like Wikipedia. In 2006, the OpenStreetMap Foundation was established to encourage the growth, development, and distribution of free geospatial data.
				</p>
			</div>
			<HeadingComponent heading="Before Kerala Flood" />
			<div class="flex-col items-center m-2 p-2 justify-center">
				<p>
					Events <a href="https://wiki.openstreetmap.org/wiki/Kerala/Events">https://wiki.openstreetmap.org/wiki/Kerala/Events</a>
				</p>
			</div>
			<HeadingComponent heading="NITC Mapping Party - October 23-24, 2009" />
			<div class="flex-col items-center m-2 p-2 justify-center">
				<p>
					This is the first OSM Mapping Party documented in Kerala, held at the National Institute of Technology Calicut, in cooperation with the Free Software User Group Calicut (FSUG-CALICUT). Thirty-six volunteers attended the event.
					<a href="https://wiki.openstreetmap.org/wiki/NITC_mapping_party_oct_24">https://wiki.openstreetmap.org/wiki/NITC_mapping_party_oct_24</a>
				</p>
			</div>
			<HeadingComponent heading="Trivandrum mapping party - December 12-13, 2009" />
			<div class="flex-col items-center m-2 p-2 justify-center">
				<p>
					Thirteen volunteers attended the mapping party to map the Technopark and adjoining areas of it.
					<a href="https://wiki.openstreetmap.org/wiki/Trivandrum_mapping_party_12_dec">https://wiki.openstreetmap.org/wiki/Trivandrum_mapping_party_12_dec</a>
				</p>
			</div>
			<HeadingComponent heading="Koorachundu Panchayat Mapathon - July 21-24, 2014" />
			<div class="flex-col items-center m-2 p-2 justify-center">
				<p>
					Twenty-three volunteers from OSM community, MG University, Swathandra Malayalam Computing attended the mapping party to map the areas of Koorachundu Panchayat, Kozhikode, Kerala. This was hosted by the Panchayat in an aim to prepare a ward-level map for the upcoming LSGI election. Koorachundu Panchayat Mapathon was the first of its kind that a government body in India (documented) took an initiative to host an event to create a map on a community level. This paved the way for many mapping events to happen from the government side.
					<a href="https://wiki.openstreetmap.org/wiki/KoorachunduPanchayatMapathon">https://wiki.openstreetmap.org/wiki/KoorachunduPanchayatMapathon</a>
				</p>
			</div>
			<HeadingComponent heading="Unnikulam Mapping Exercise - August 21, 2014" />
			<div class="flex-col items-center m-2 p-2 justify-center">
				<p>
					This was organized, gaining energy from Koorachundu Panchayat Mapathon. In response to the State Election Commission's instructions, to draw a map of Unnikulam Grama Panchayat with ward boundaries, potential polling booths, and other features, a mapping exercise was conducted. Student volunteer participants from a college nearby surveyed the area upon the instructions of Jaisen Nedumpala. The data collected from the field was processed from the Grama Panchayat office by the volunteers. The data was then processed, uploaded to OSM, and made a ward map of Unnikulamgp grama panchayat, and was duly submitted to the State Election Commission.
				</p>
			</div>
			<HeadingComponent heading="OSM Mapping Workshop June 2016 – Vidya Academy, June 18-19, 2016" />
			<div class="flex-col items-center m-2 p-2 justify-center">
				<p>
					A 2-day Mapping Workshop and Vidya Academy Campus Mapping were conducted on June 18-19, 2016. Fifty-six students participated. The mapping party was conducted in association with Vidya Academy - NSS Cell, Veelor Grama Panchayat (Local Government), Swathanthra Malayalam Computing, and National Service Scheme - Technical Cell. The program was led by Mano.jj Karingamadathil, Jaisen Nedumpala, and Kishore. In this program, experiments were done on 3D maps and tree mapping of the campus.
					<a href="https://wiki.openstreetmap.org/wiki/OSM_Mapping_Workshop_June_2016_%E2%80%93_Vidya_Academy">https://wiki.openstreetmap.org/wiki/OSM_Mapping_Workshop_June_2016_%E2%80%93_Vidya_Academy</a>
				</p>
			</div>
			<HeadingComponent heading="Velur Panchayath Mapping Party - July 20-25, 2016" />
			<div class="flex-col items-center m-2 p-2 justify-center">
				<p>
					NSS Unit of Vidya Academy of Science & Technology, Thrissur, in association with Velur village panchayat Local Government Body, OSM Kerala, and Swathanthra Malayalam Computing, conducted a Mapping Party of Veloor, a village and panchayat in Thalapilly taluk, Thrissur district, Kerala, from July 20, 2016 (Thursday) to July 25, 2016 (Monday). It attempted to map macro level features of the panchayat. Over 170 NSS Volunteers participated.
					<a href="https://wiki.openstreetmap.org/wiki/Velur_Panchayath_Mapping_Party">https://wiki.openstreetmap.org/wiki/Velur_Panchayath_Mapping_Party</a>
				</p>
			</div>
			<HeadingComponent heading="FSUG Thrissur Mapping Party - August 13, 2017" />
			<div class="flex-col items-center m-2 p-2 justify-center">
				<p>
					An outdoor mapping party at Thrissur on August 13, 2017, conducted by FSUG Thrissur. Important locations near Thrissur Swaraj round were added, and the program started at 3.00 pm.
					<a href="https://poddery.com/posts/3218096">https://poddery.com/posts/3218096</a>
				</p>
			</div>
			<HeadingComponent heading="Nenmanda Mapping Party After Kerala Flood 2018" />
			<div class="flex-col items-center m-2 p-2 justify-center">
				<p>
					During the flood, developers in Kerala came together to make keralarescue.in and microid.in/keralaflood. Both helped a lot during the flood. Both used OpenStreetMap data.
					keralaresuce.in - Requests for help were collected, organized, and shown in maps for help to reach.
					microid.in/keralaflood - A map to see the flooded roads. Useful while traveling.
				</p>
			</div>
			<HeadingComponent heading="Humanitarian OpenStreetMap Team" />
			<div class="flex-col items-center m-2 p-2 justify-center">
				<p>
					During the Kerala floods 2018, there was a lot of data addition. The Kerala community approached HOTOSM and created tasks for the affected region. Road and building tasks were created for Thrissur, Ernakulam, Pathanamthitta, Wayanad, Alleppey, Idukki districts. The community reached out to companies like Microsoft, Grab, Amazon Logistics, Mapbox for support. Maxar Technologies (Digital Globe) released satellite imagery through their Open data program.
					<a href="https://wiki.openstreetmap.org/wiki/2018_Kerala_Floods,_India">https://wiki.openstreetmap.org/wiki/2018_Kerala_Floods,_India</a>
				</p>
			</div>
			<HeadingComponent heading="Facebook" />
			<div class="flex-col items-center m-2 p-2 justify-center">
				<p>
					OSM Kerala community reached out to Facebook during floods to help map in Kerala. Facebook agreed to help. Facebook has released an open dataset of ML detected roads from high-resolution imagery for the entire state following a request from the community. Road import was done by the collaboration of Facebook with the community.
					<a href="https://wiki.openstreetmap.org/wiki/Kerala_Road_Import">https://wiki.openstreetmap.org/wiki/Kerala_Road_Import</a>
					<a href="https://wiki.openstreetmap.org/wiki/2018_India_Disaster_Response_Mapping">https://wiki.openstreetmap.org/wiki/2018_India_Disaster_Response_Mapping</a>
				</p>
			</div>
			<HeadingComponent heading="FOSSers of Vidya Academy of Science & Technology" />
<div class="flex-col items-center m-2 p-2  justify-center">
    <p>
        Association with FOSSers of Vidya Academy of Science & Technology, HOTOSM, OSM Kerala Community, and various organizations for our first Mapathon during Kerala Flood 2018. The goal was to complete mapping for three taluks: Mukundapuram, Chalakkudy, and Thrissur. We had 36 volunteers who registered through Google forms. In less than 5 hours of work, we were able to achieve impressive results: 4,388 edits, 2,799 buildings, 118 km of roads, and mapping of lakes, streams, and more.
        <a href="https://wiki.openstreetmap.org/wiki/Kerala_Community_Flood_Response_Mapping#Sep_15_-_Software_freedom_day_at_Thrissur.2C_Kerala">Link</a>
    </p>
</div>

<HeadingComponent heading="State of the Map Asia 2018" />
<div class="flex-col items-center m-2 p-2 justify-center">
    <p>
        In November 2018, members of the OSM Kerala community met during SOTM Asia 2018. This was a significant event as it was the first time many of the community members met each other. After SOTM 2018, a telegram group created in 2016 was activated, fostering increased communication.
        <a href="https://wiki.openstreetmap.org/wiki/File:OSM_Kerala_Community_at_State_of_the_Map_Asia_2018_IIM_Bengaluru_India_26.jpg">Kerala Flood Related Presentation featured in National Media</a>
    </p>
</div>

<HeadingComponent heading="OpenStreetMap Mapathon held at PG centre, Thrissur on Aaron Swartz day" />
<div class="flex-col items-center m-2 p-2 justify-center">
    <p>
        On November 9, 2019, an OpenStreetMap Mapathon was conducted in commemoration of Aaron Swartz Day. FSUG members and others contributed to mapping district roads in Thrissur District.
        <a href="http://thrissur.fsug.in/img/events/osm.jpg">View Image</a>
    </p>
</div>

<HeadingComponent heading="Koorachundu Mapping - December 22-28, 2018" />
<div class="flex-col items-center m-2 p-2 justify-center">
    <p>
        As an extension of a previous mapping party held at Koorachundu Panchayath in 2014, the panchayat decided to host another mapping event to create a rich resource map. National Service Scheme volunteers from three colleges camped in the panchayat from December 22 to 28, 2018. A total of 220 student volunteers were trained to map with OSM. The technical support for the event was provided by OSM Kerala community, Swathantra Malayalam Computing, and Geominds. Various features were added to OSM, focusing on Place Names, Roads, Lanes, Culverts, Bridges, Land Use/Land Cover, Building Footprints, Drinking Water Schemes, Forests, Streams, Rivers, Hot Springs, Ponds, Public Wells, Water Tanks, Tourist, Religious and Recreational Spots, Irrigation, Public Health Systems, and Other Assets. Areas affected by floods and landslides were mapped from a disaster management perspective.
        <a href="https://blog.smc.org.in/koorachundu-gramapanchayath-mapping-party-2-0/">Read More</a>
        <a href="https://wiki.openstreetmap.org/wiki/Organised_Editing/Activities/Koorachundu_Panchayat_Mapathon_2018">View Wiki</a>
    </p>
</div>

<HeadingComponent heading="Floods in 2019" />
<div class="flex-col items-center m-2 p-2 justify-center">
    <p>
        During the Kerala floods in 2019, mapping for Malappuram and Kozhikode districts started in HOTOSM's tasking manager.
        <a href="https://wiki.openstreetmap.org/wiki/2019_India_Disaster_Response_Mapping">Learn More</a>
    </p>
</div>

<HeadingComponent heading="Landslides in 2020" />
<div class="flex-col items-center m-2 p-2 justify-center">
    <p>
        In response to the landslides in Kerala in 2020, the OSM Kerala community started mapping Munnar Panchayat. Due to COVID-19, the OSM community came together for a virtual meetup.
        <a href="https://wiki.openstreetmap.org/wiki/2020_India_Disaster_Response_Mapping">Learn More</a>
    </p>
</div>

<HeadingComponent heading="Reaching out to Kerala Government - Mapathon Keralam Campaign" />
<div class="flex-col items-center m-2 p-2 justify-center">
    <p>
        Members of the OSM Kerala community advocated for the improvement of OSM data in Kerala following the floods in 2018. The community submitted proposals to release important datasets under an OpenData license. Community members reached out to various government officials, including Minister Dr. Thomas Isaac and MLAs like Sabarinathan, Veena George, Shafi Parambil, and VD Satheesan. They also engaged with Potheri Vasudevan Unnikrishnan, Strategic Advisor at the Kerala Development Innovation Strategic Council.
        On August 28, 2018, a proposal to the Kerala government for releasing data for use in OSM was jointly written by community members in OSM Kerala and friends in CIS. The proposal was submitted to the then IT Secretary, IT Mission director, and ICFOSS Director. In-person meetings were held to discuss the proposal.
        Parallel efforts were made to create the Kerala OpenData portal, which was discussed with the then IT Mission Director Sambasiva Rao by OSM Kerala community member User:Naveenpf. A presentation about OpenstreetMap was given during ICSET 2018.
        On November 3, 2018, OSM Kerala community member User:Naveenpf met with Biju, e-governance engineer at the Public Works Department to discuss releasing KSTP data. Efforts were made to create a road project and building project for Wayanad.
        OSM Kerala volunteers participated in a KSITM KSDI's Mapathon Kerala project community consultation held on March 8, 2019, which was a pre-consultation on crowdsourcing data for OSM.
        <a href="https://www.youtube.com/watch?v=5cPvQUm7LZw&t=2s">View Presentation</a>
        <a href="https://wiki.openstreetmap.org/w/images/f/fd/Mapathon-Minutes.pdf">Meeting Minutes</a>
    </p>
</div>
		</div>
	</main>
</Layout>
