---
import Layout from '../layouts/Layout.astro';
import SearchBar from '../components/elements/search';
---

<Layout title="Welcome to OSM Kerala.">
	<main>
		<div>
			<div>
			<div class="flex m-2 p-2  justify-center">
				<div class="flex items-center justify-center">
					<img src="/osm_logo/osm-logo@3x.svg" width={300} alt ="hero image" />
				</div>
			</div>
			<!-- <div class="flex justify-center p-2 m-2 mt-4 ">
				<SearchBar client:load />
			</div> -->
			<div class="md:flex md:justify-around m-8 p-2 ">
				<div class="md:text-center md:flex items-center md:w-[50%]">
					<p>OpenStreetMap (OSM) Kerala is your gateway to discovering the picturesque Indian state of Kerala through interactive and up-to-date maps. Our dedicated community of mappers and enthusiasts is committed to charting Kerala's diverse landscapes, from lush greenery to serene backwaters.</p>
				</div>
				<div class="flex m-2 p-2  justify-center">
					<img src="/group_photo.jpeg" width={500} class="rounded-md"
alt ="hero image" />
				</div>
			</div>
			</div>
			<!-- Homepage End  -->

			<!-- Blog page -->
			<div>
				<div class="flex ml-8 m-2 underline underline-offset-2 p-2">
				</div>
			</div>
		</div>
	</main>
</Layout>

<!-- 

Color Pallete

Sprout
c1d3a3

Killarney
#2b5033

Falcon
#796366

Tulip Tree
#e79d47 

-->
