---
import Layout from '../layouts/Layout.astro';

import HeadingComponent from '../components/elements/heading';
---

<Layout title="Welcome to OSM Kerala.">
	<main>

		<div class="m-2 p-2   mb-24">
			<div class="flex justify-center">

				<HeadingComponent heading="Maintainers" />
			</div>
			<div class="w-full max-w-screen-lg mx-auto">
				<h1 class="flex justify-center font-semibold m-2 p-2">Operations/Engineering Working Group</h1>
<table class="table-auto border-collapse w-full">
  <thead>
    <tr>
      <th class="px-6 py-3 bg-[#09471a] text-white  text-left">Site</th>
      <th class="px-6 py-3 bg-[#09471a] text-white  text-left">Maintainer</th>
      <th class="px-6 py-3 bg-[#09471a] text-white  text-left">Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="px-6 py-4">
        <a href="https://kerala.openstreetmap.in" class="text-indigo-600 hover:text-indigo-900" rel="nofollow">https://kerala.openstreetmap.in</a>
      </td>
      <td class="px-6 py-4">
        <a href="https://wiki.openstreetmap.org/wiki/User:Manojk" title="User:Manojk" class="text-indigo-600 hover:text-indigo-900">User:Manojk</a>, User:Joice Joseph
      </td>
      <td class="px-6 py-4"></td>
    </tr>
    <tr>
      <td class="px-6 py-4">
        <a href="/wiki/Kerala" title="Kerala" class="text-indigo-600 hover:text-indigo-900">https://wiki.openstreetmap.org/wiki/Kerala</a>
      </td>
      <td class="px-6 py-4"></td>
      <td class="px-6 py-4"></td>
    </tr>
    <tr>
      <td class="px-6 py-4">
        <a href="https://github.com/osmkerala" class="text-indigo-600 hover:text-indigo-900" rel="nofollow">osmkerala</a>
      </td>
      <td class="px-6 py-4 ">
        <a href="https://github.com/manuvarkey" class="text-indigo-600 hover:text-indigo-900" rel="nofollow">manuvarkey</a>,
        <a href="https://github.com/jaisuvyas" class="text-indigo-600 hover:text-indigo-900" rel="nofollow">jaisuvyas</a>,
        <a href="https://github.com/joicemjoseph" class="text-indigo-600 hover:text-indigo-900" rel="nofollow">joicemjoseph</a>,
        <a href="https://github.com/jinoytommanjaly" class="text-indigo-600 hover:text-indigo-900" rel="nofollow">jinoytommanjaly</a>,
        <a href="https://github.com/manojkmohan" class="text-indigo-600 hover:text-indigo-900" rel="nofollow">manojkmohan</a>,
        <a href="https://github.com/naveenpf" class="text-indigo-600 hover:text-indigo-900" rel="nofollow">naveenpf</a>,
        <a href="https://github.com/arkarjun" class="text-indigo-600 hover:text-indigo-900" rel="nofollow">arkarjun</a>
      </td>
      <td class="px-6 py-4"></td>
    </tr>
  </tbody>
</table>

			  </div>
			  <div class="w-full max-w-screen-lg overflow-x: auto mx-auto mt-4">
				<h1 class="flex justify-center font-semibold m-2 p-2 ">
					Communications Working Group
				</h1>  
				<table class="table-auto border-collapse w-full">
					<thead>
					  <tr>
						<th class="px-6 py-3 bg-[#09471a] text-white ">Site</th>
						<th class="px-6 py-3 bg-[#09471a] text-white ">Maintainer</th>
						<th class="px-6 py-3 bg-[#09471a] text-white ">Comments</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td class="px-6 py-4">
						  <a href="https://www.facebook.com/osmkerala/" class="text-indigo-600 hover:text-indigo-900" rel="nofollow">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_Logo_Mini.svg/25px-Facebook_Logo_Mini.svg.png" alt="Facebook Logo Mini" class="w-5 h-5 inline-block mr-1">
							Facebook
						  </a>
						</td>
						<td class="px-6 py-4">
						  <a href="https://wiki.openstreetmap.org/wiki/User:Manojk" title="User:Manojk" class="text-indigo-600 hover:text-indigo-900">User:Manojk</a>
						</td>
						<td class="px-6 py-4"></td>
					  </tr>
					  <tr>
						<td class="px-6 py-4">
						  <a href="https://t.me/osmkerala" class="text-indigo-600 hover:text-indigo-900" rel="nofollow">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Telegram_2019_simple_logo.svg/25px-Telegram_2019_simple_logo.svg.png" alt="Telegram 2019 simple logo" class="w-5 h-5 inline-block mr-1">
							Telegram
						  </a>
						</td>
						<td class="px-6 py-4">Owners: Manoj, Muzrian and 7 admins</td>
						<td class="px-6 py-4"></td>
					  </tr>
					  <tr>
						<td class="px-6 py-4">
						  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/25px-WhatsApp.svg.png" alt="WhatsApp" class="w-5 h-5 inline-block mr-1">
						  Whatsapp
						</td>
						<td class="px-6 py-4">Admins: Yasheen, Ranji Colins</td>
						<td class="px-6 py-4"></td>
					  </tr>
					  <tr>
						<td class="px-6 py-4">
						  <a href="https://wiki.openstreetmap.org/wiki/Kerala/Virtual_Mappy_Hour" class="text-indigo-600 hover:text-indigo-900" title="Kerala/Virtual Mappy Hour">Virtual Mappy Hours</a>
						</td>
						<td class="px-6 py-4">
						  <a href="https://wiki.openstreetmap.org/wiki/User:Arkarjun" title="User:Arkarjun" class="text-indigo-600 hover:text-indigo-900">User:Arkarjun</a>
						</td>
						<td class="px-6 py-4"></td>
					  </tr>
					  <tr>
						<td class="px-6 py-4">
						  <a href="https://wiki.openstreetmap.org/wiki/Kerala/Quiz" title="Kerala/Quiz" class="text-indigo-600 hover:text-indigo-900">Quiz</a>
						</td>
						<td class="px-6 py-4">
						  <a href="https://wiki.openstreetmap.org/wiki/User:Naveenpf" title="User:Naveenpf" class="text-indigo-600 hover:text-indigo-900">User:naveenpf</a>
						</td>
						<td class="px-6 py-4"></td>
					  </tr>
					</tbody>
				  </table>
				  
				  
			  </div>
		</div>
	</main>
</Layout>
