---
import Layout from '../layouts/Layout.astro';


---


<Layout title="Welcome to OSM Kerala.">
  <main class="main wrap m-2 p-2 ">

    <h1 id="mapathon-keralam-and-openstreetmap-community-collaboration" class="text-4xl font-bold mb-4">Mapathon Keralam and OpenStreetMap Community Collaboration</h1>
    <blockquote class="mb-4 text-gray-500 italic">
      <p>
        <a href="https://wiki.openstreetmap.org/wiki/File:Mapathon_Keralam_and_OpenStreetMap_Community_Collaboration.pdf" class="text-blue-500 hover:underline">This is the letter to Director Kerala IT Mission, on behalf of the OpenStreetMap India Community, dated 14 September 2020 (PDF)</a>
      </p>
    </blockquote>
    <p class="mb-4">
      Dear Smt. Chithra,
    </p>
    <p class="mb-4">
      We are writing this letter on behalf of the OpenStreetMap India Community. We are part of the global OpenStreetMap movement and have a history of mapping the country for over 15 years. Our community members are spread across India, representing its vast geographic and cultural diversity. Day in and day out, they contribute and maintain what is currently the largest open map of India.
    </p>
    <p class="mb-4">
      Your leadership and commitment to OpenStreetMap through the Mapathon Keralam Project have been incredibly powerful for our movement. This has gained international attention and truly put our humble community literally on the map. The Government of Kerala’s official adoption state-wide for several development as well as disaster recovery and resilience projects is a huge motivation and a recognition of years of the communities’ hard work.
    </p>
    <p class="mb-4">
      The community has a lot to offer in supporting new mappers, collaborating on quality analysis, and growing Mapathon Keralam. The recent efforts to document the Mapathon Keralam projects and responding to questions from the OpenStreetMap Kerala mapper community have greatly helped to establish a positive relationship between Mapathon Keralam and the hundreds of thousands of volunteers that make up the global OpenStreetMap community. Our hope as part of the OpenStreetMap community is to build on this relationship to make Mapathon Keralam an IT case study of how the state can successfully partner with a global open-source collaborative project. For this, we request your leadership to address the following action items:
    </p>
    <h2 id="1appoint-a-community-coordinator" class="text-2xl font-semibold mb-2">1. Appoint a community coordinator</h2>
    <p class="mb-4">
      Organized editing in OpenStreetMap requires close collaboration with the community. A community coordinator’s role is crucial to engage with members outside your organization to ensure that mapping projects run smoothly and we can hold ourselves to a high degree of quality. The coordinator will be responsible for responding to questions from the community and act on behalf of mappers of your organization. The coordinator can discuss consensus within the community, gather feedback, and contribute to the training of your mappers.
    </p>
    <h2 id="2-follow-openstreetmap-organized-editing-guidelines" class="text-2xl font-semibold mb-2">2. Follow OpenStreetMap organized editing guidelines</h2>
    <p class="mb-4">
      There are hundreds of volunteer mappers as part of the OpenStreetMap Kerala community who are improving the open map of Kerala outside of Mapathon Keralam. Documenting the scope, goals, and detailed workflow of each mapping project ensures a high quality of output. Your team has already opened a Wiki page specific for projects under Mapathon Keralam and we request you to continue to do this for all future projects as well. Mapping administrative boundaries, river streams, public offices all should either have their own specific documentation or regional mapping pages that clearly document the project workflow so it can be reviewed by the OpenStreetMap community for feedback and approval. Mapathon Keralam generates a large volume of data, and an improper workflow can easily result in poor quality data that is not usable for any purpose. This documentation should follow <a href="https://wiki.osmfoundation.org/wiki/Organized_Editing_Guidelines" class="text-blue-500 hover:underline">OpenStreetMap Organized Editing Guidelines.</a>
    </p>
    <p class="mb-4">
      Acting on these two above points will establish a positive partnership where both Mapathon Keralam and the OpenStreetMap Project mutually benefit from each other’s success. Collectively, the OpenStreetMap Kerala community has decades of field mapping experience that can be a great asset for the Mapathon Keralam project and help in producing high-quality map data. The mapping community had previously reviewed the output of Mapathon Keralam and identified several basic data quality issues[3] that could have been avoided with better coordination with the community.
    </p>
    <p class="mb-4">
      We would be happy if you convene a meeting to discuss implementation of these steps and how the OpenStreetMap community at large can be helpful in this endeavor.
    </p>
    <p class="mb-4">
      This letter and statement are endorsed by the following OpenStreetMap Kerala and India community members:
    </p>
    <ol class="list-decimal pl-6 mb-4">
      <li class="mb-2">Sajjad Anwar (geohacker)</li>
      <li class="mb-2">Naveen Francis (naveenpf)</li>
      <li class="mb-2">Manoj K (manojkmohan)</li>
      <li class="mb-2">Arun Ganesh (planemad)</li>
      <li class="mb-2">Satyakam Goswami (Satyaakam)</li>
      <li class="mb-2">Kelvin Matthew (muzirian)</li>
      <li class="mb-2">Arjun ARK (ark_arjun)</li>
    </ol>
    <hr class="border-2 my-4">
    <ol class="list-decimal pl-6 mb-4">
      <li class="mb-2"><a href="https://wiki.openstreetmap.org/wiki/Mapathon_Keralam" class="text-blue-500 hover:underline">Mapathon_Keralam</a></li>
      <li class="mb-2"><a href="https://wiki.openstreetmap.org/wiki/Stream_Cleaning_-_Harita_Kerala_Mission" class="text-blue-500 hover:underline">Stream_Cleaning_-_Harita_Kerala_Mission</a></li>
      <li class="mb-2"><a href="https://wiki.openstreetmap.org/wiki/Kerala_State_IT_Mission#Common_Mistakes" class="text-blue-500 hover:underline">Kerala_State_IT_Mission#Common_Mistakes</a></li>
    </ol>
  </main>
</Layout>
