<nav class="wrap nav">
	<a href="{{ .Site.BaseURL }}">
		<picture>
			
			<source srcset = '{{ absURL (.Site.Params.logo) }}'>
			<img srcset = '{{ absURL (.Site.Params.logo) }}' alt = '{{ .Site.Title }} Logo' width="48px" height="48px">
		</picture>
	</a>
	{{ if .Site.Params.enableSearch | default true }}
	{{- partial "search.html" . }}
	{{ end }}
	<nav class="nav_body">
		{{ $cur := . }}
		{{ range $.Site.Menus.header }}
			{{ $active := in $cur.RelPermalink .URL }}
			<a class="{{ if $active }} active {{ end }} clearfix" href="{{ .URL }}" title="{{ .Title }}" style="margin-right: 10px;">{{ .Name }}</a>
		{{ end }}
		
		<div class="">
			<a href="{{ .Site.BaseURL }}index.xml" title="Subscribe to feed">Subscribe</a>
		  </div>
	</nav>
