<footer class="bg-[#2b2b2b] text-white mt-8 pt-2 pb-2">
  <!-- <footer class="bg-gradient-to-t from-green-500 to-teal-400  text-white mt-8 pt-2 pb-2"> -->
  <div class="container mx-auto py-4">
      <p class="text-center">&copy; Except where otherwise noted, content on this site is licensed under the <a class="text-blue-500" href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA license.</a> 2023</p>
      <ul class="flex flex-col items-center sm:flex-row sm:justify-center m-2 space-y-4 sm:space-y-0 sm:space-x-4">
          <li><a class="text-[#fff] hover:underline" href="https://wiki.openstreetmap.org/wiki/Kerala">Wiki</a></li>
          <li><a class="text-[#fff] hover:underline" href="https://kerala.openstreetmap.in/">Website</a></li>
          <li><a class="text-[#fff] hover:underline" href="https://t.me/osmkerala">Telegram</a></li>
          <li><a class="text-[#fff] hover:underline" href="https://github.com/osmkerala">Github</a></li>
          <li><a class="text-[#fff] hover:underline" href="https://facebook.com/osmkerala/">Facebook</a></li>
          <li><a class="text-[#fff] hover:underline" href="https://twitter.com/search?q=osmkerala">Twitter</a></li>
      </ul>
  </div>
</footer>
